<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "br.com.edmo.sushialberto"
    version   = "1.0.0">

<name>SushiLar</name>

<description>
Menu de sushi.
</description>

<author href="https://edmo.com.br" email="infoedmo@gmail.com">
Edmo Magalhaes
</author>

<icon src="icon.png" />

<gap:splash src="images/splash.jpg" gap:platform="ios" width="320" height="480" />

</widget>
